<div class="row">
	<div class="col-5">
		<div class="row">
			<div class="col">
				<h1 class="text-center food-title"><%=@food.name%></h1>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-7 mx-auto">
				<%= render 'nutrition_table', food: @food %>
			</div>
		</div>
	</div>
	<div class="col-7">
		<div class="row">
			<div class="col">
				<h1 class="food-title">Avg Recur Rate: <%= @avg_cycle %> days</h1>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h1 class="food-title">Last Served On: <%= @last_day.strftime("%a, %-m/%-d") %></h1>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-auto mx-auto">
				<h2 class="secondary-title">Will next be served...</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-auto mx-auto">
				<% if @next_serving == -1 %>
					<h1 class="food-title">Unknown</h1>
				<% elsif @next_serving_days == 0 %>
					<h1 class="food-title">Today!</h1>
				<% else %>
					<h1 class="food-title"><small>on a</small> <%=@next_serving.strftime("%A")%><small> in</small> <%=@next_serving_days%> <smalll>Day<%= @next_serving_days > 1 ? "s" : "" %></small></h1>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<canvas id="myChart" width="400" height="200"></canvas>
				<script>
				var ctx = document.getElementById('myChart').getContext('2d');
				var weights = <%=raw @days_weights %>;
				console.log(weights);
				var myChart = new Chart(ctx, {
				    type: 'bar',
				    data: {
				        labels: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
				        datasets: [{
				            label: '% of availability',
				            data: weights,
				            backgroundColor: [
				                'rgba(255, 99, 132, 0.2)',
				                'rgba(54, 162, 235, 0.2)',
				                'rgba(255, 206, 86, 0.2)',
				                'rgba(75, 192, 192, 0.2)',
				                'rgba(153, 102, 255, 0.2)',
				                'rgba(255, 159, 64, 0.2)'
				            ],
				            borderColor: [
				                'rgba(255, 99, 132, 1)',
				                'rgba(54, 162, 235, 1)',
				                'rgba(255, 206, 86, 1)',
				                'rgba(75, 192, 192, 1)',
				                'rgba(153, 102, 255, 1)',
				                'rgba(255, 159, 64, 1)'
				            ],
				            borderWidth: 1
				        }]
				    },
				    options: {
				    	plugins: {
				    		labels: {
				    			render: 'value',
				    			fontColor: '#fff',
				    			showActualPercentages: true,
				    		},
				    	},
				    	legend: {
				    		labels: {
				    			fontColor: 'white',
				    		},
				    	},
				        scales: {
				            yAxes: [{
				                ticks: {
				                	fontColor: "white",
				                    beginAtZero: true,
				                    suggestedMin: 0,
                    				suggestedMax: 100
				                }
				            }],
				            xAxes: [{
				            	ticks: {
				            		fontColor: "white",
				            	}
				            }]
				        }
				    }
				});
				</script>
			</div>
		</div>
	</div>
</div>
<div class="row mt-4">
	<div class="col">
		<h1 class="food-title">Last Seen</h1>
	</div>
</div>
<%
	offset = true
%>
<% @targets.reverse.each do |dish|%>
	<%
		if !@last_day.nil?
			@frequencies.append(@last_day - dish.date)
		end
		@last_day = dish.date
		offset = !offset
	%>
	<div class="row record <%=offset ? "offset" : ""%>">

		<%
			icon = ""

			case dish.meal
			when "lunch"
				icon = "fas fa-pizza-slice"
			when "late night"
				icon = "fas fa-ice-cream"
			when "breakfast"
				icon = "fas fa-bacon"
			when "dinner"
				icon = "fas fa-hamburger"
			else
				icon = ""
			end
		%>

		<div class="col">
			<p><%=dish.date.strftime("%-m/%-d")%>, <%=dish.day.titleize%></p>
		</div>
		<div class="col">
			<p><%=(@today - dish.date).to_i%> Days Ago</p>
		</div>
		<div class="col">
			<p><i class="<%=icon%>"></i> <%=dish.meal.titleize%></p>
		</div>
	</div>
<% end %>