<%
	frequencies = []
	last_day = nil

	@targets.each do |dish|
		if last_day == dish.date
			next
		end

		if !last_day.nil?
			frequencies.append(dish.date - last_day)
		end
		last_day = dish.date
	end

	avg_cycle = frequencies.sum / frequencies.size.to_f
	next_serving = -1

	today = Time.zone.today
	puts avg_cycle
	puts today
	puts last_day
	puts (today - last_day).to_i
	puts avg_cycle - (today - last_day)

	if avg_cycle % 7 == 0
		next_serving = (today + (avg_cycle - (today - last_day)))
	elsif avg_cycle == 1
		next_serving = today + 1
	end

	puts next_serving
		
	if next_serving != -1
		next_serving_days = (next_serving - today).to_i
	end

%>

<div class="row">
	<div class="col">
		<div class="row">
			<div class="col">
				<h1 class="food-title"><%=@food.name%></h1>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-7">
				<%= render 'nutrition_table', food: @food %>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="row">
			<div class="col">
				<h2 class="secondary-title">Will next be served...</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<% if next_serving == -1 %>
					<h1 class="food-title">Unknown</h1>
				<% elsif next_serving_days == 0 %>
					<h1 class="food-title">Today!</h1>
				<% else %>
					<h1 class="food-title"><small>a</small> <%=next_serving.strftime("%A")%><small> in</small> <%=next_serving_days%> <smalll>Day<%= next_serving_days > 1 ? "s" : "" %></small></h1>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="row">

	<% Date::DAYNAMES.each_with_index do |day, ind| %>
		<%
			start_date = Date.today
			end_date = @targets.first.date
			weeks = (end_date..start_date).to_a.select {|k| k.wday == ind }.size
		%>

		<div class="col">
			<%= day %>: <%= weeks == 0 ? 0 : ((@targets.where(day: day.downcase).size / weeks.to_f) * 100).to_i %>%
		</div>
	<% end %>
</div>
<% @targets.reverse.each do |dish|%>
	<%
		if !last_day.nil?
			frequencies.append(last_day - dish.date)
		end
		last_day = dish.date
	%>
	<div class="row">
		<div class="col">
			<p><%=dish.date%></p>
		</div>
		<div class="col">
			<p><%=dish.day%></p>
		</div>
		<div class="col">
			<p><%=dish.meal%></p>
		</div>
	</div>
<% end %>